# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/out/
/.next

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next/app-build-manifest.json
.next/app-path-routes-manifest.json
.next/BUILD_ID
.next/build-manifest.json
.next/next-minimal-server.js.nft.json
.next/next-server.js.nft.json
.next/prerender-manifest.js
.next/prerender-manifest.json
.next/routes-manifest.json
.next/trace
.next/cache/eslint/.cache_15upt4k
.next/cache/img/-BjmzeJCkFoS+NS5fA8oLubZ0x6K6N4BPiRUWSIOHRw=/60.1725142220866.ZLvTeN3jjDNlhkJ3DTRGvRcYkSO+LR2D-O7beKg5ElI=.webp
.next/cache/img/-otESlCmui1cRY5yL8i-8G+-m6CCqVZJlMnYF94v7Cw=/60.1725224057212.ch7WJVij4b-p1RGR7pK74610RGQd0E0XVqSPHMrWSA8=.webp
.next/cache/img/0O+B+04HAWDoml84+KESZ7nNzyZfCEZfVRnxi6Ky4sc=/60.1725142222302.+i0CNc3kTmU01FwN7kGUinww-EGUZ66wc6HwzYsCbvI=.webp
.next/cache/img/0fEEQvTGTGiOo-Bmve2EW7jnyGQjbAYqQI9H8KrwRCk=/60.1725142222205.aEgHuAz72fUMIuKh8ac6lBK50Cy2ODv72z3VK+yG36A=.webp
.next/cache/img/1YcTvnMXcZ2q0qgMXiRK8iVKYAP5eWxOR3E6fCYwVMA=/60.1725220526498.ZLvTeN3jjDNlhkJ3DTRGvRcYkSO+LR2D-O7beKg5ElI=.webp
.next/cache/img/32Xl6ZX7phzHSlZ1sMOTAYivFzvCwNNaLtQ9p1VM+6c=/60.1725142220875.ZLvTeN3jjDNlhkJ3DTRGvRcYkSO+LR2D-O7beKg5ElI=.webp
.next/cache/img/69AZTYi0i7rrcK+1+7K6HecT-XzaMH41rpySP92wzZc=/60.1725224057252.vEXThKCwXghvn0X4HynNvPNDdABG-qyZm7FT7ePlQyQ=.webp
.next/cache/img/6VgD-9IWLiaDGb3YFeMru+rhhdf4jV3SyTpt2cGOanU=/60.1725142222383.DPhkRkLuSfzSNKHsnPG1wrENdkVtI+WkB3QbV4wnqlc=.webp
.next/cache/img/70GYHmf3C0MRfXElTT-3W-A0Y1-PcLx1laNnSuAtTRI=/60.1725224059640.VEthd1pNOfL9X1gK-camF5JAMKhYarqrbsqvm-rVGKk=.webp
.next/cache/img/AfVXNPbg1PToAUNOUi+IfreoBZ4LaZF+XAioCG9KJL8=/60.1725224059296.T-np6fIsJ6ScSXKSMN459ISNo3+fAVAe9beV14gzMaU=.webp
.next/cache/img/BFLTxOeOU6fkEz8FWYujWeFZnyJzZG17Qp4-y+c5nr8=/60.1725224059643.A6BtXjAsr8xX7ctcUuHLdP6kB5U3kAdDgkxjlAAxeUM=.webp
.next/cache/img/BiK5v-EzqIMgnvR1gE-cZE71fn+j3R1p5p7oaTp6ppI=/60.1725142222304.cKpgo4jNL8AnQjCuiN+D70dvtfbN7cS-LztWrz6uZxQ=.webp
.next/cache/img/DeZ3bzqSVq1KQc-cl0nLAMLhpGSK8pRr0Jrxr5nmWWw=/60.1725142222287.NB5MJNCYlb2ptWg1WCryS8q-5K2tnj3Eukc2N9HdiYM=.webp
.next/cache/img/Dt6rj2T83Uc-AmCHq7gvxDarOkDuNhP9uHQdfG41tOI=/60.1725142222330.LTdiQXUMlIpVm87eFOO6Twtd8Ho4tMhUSWjFg3OpE9g=.webp
.next/cache/img/EhQHZdPSekzadQbnqMcD6yYZWih3iO+hQVpqeiRqJU4=/60.1725224059323.cKpgo4jNL8AnQjCuiN+D70dvtfbN7cS-LztWrz6uZxQ=.webp
.next/cache/img/EzqEhjHZJ2G1qa7L33jPLVfGuuog+82gzoA1bGry6WI=/60.1725224057203.ZLvTeN3jjDNlhkJ3DTRGvRcYkSO+LR2D-O7beKg5ElI=.webp
.next/cache/img/JQj6UiN3fwILG+sALFdmbTk7XbVnpwMGs5LZEb6cjck=/60.1725141269938.EFlGf67Kvs149wR-FIJ7mJTnqqxGEjsWSOanZeirPZY=.webp
.next/cache/img/Mv4pxw3GRj2J9Iqpz2HlVMvZFe5mQJM-FeBqIyf6nqc=/60.1725224059301.lwcFbJ2jTfMSYlK6tut-ekD9ZGg1OfTHv5JkC3t8mIU=.webp
.next/cache/img/Ni9a2Kw5g1iJsWLipgmlxE9HLwO7JDIs+Etpsstt1bw=/60.1725224060512.5JqRK5YzJPgibSGrA8DSx4QhZxR3foLx5NSbvLbELyQ=.webp
.next/cache/img/OOAvXtXnWEq4NpZaiIGSDe4C3LzMFMXd7qGjlyKOnfQ=/60.1725142222271.FLO88X3ISTiqaVDffyM0VRpVEipjZLDK7G7GOCgefF8=.webp
.next/cache/img/S9jWNuP+9J7gPgH3JmoWoB6wQ22fFcW6Pj2m3z19YHA=/60.1725224059663.LTdiQXUMlIpVm87eFOO6Twtd8Ho4tMhUSWjFg3OpE9g=.webp
.next/cache/img/SGUNLtCs46gLOgOexnkcR86TeM6eKSiuf3Wr+gHYWP0=/60.1725224059295.aSU0kzt35wv0OW4yKyGvS56OaDqGbNoadYJ4A5tO-Zw=.webp
.next/cache/img/Tn+lw9YwUd0BmhlerrVPvAylShcKniTVhjGCxbiwrMI=/60.1725224058399.F-88rLJqflexXOGFu+ONBc-Z1amWKYMvCYQ3NzNcntA=.webp
.next/cache/img/VKmDjRmRnRrEn8TTeW69lXamvBui+5Gm4I8iYLOqyz4=/60.1725142222355.XKMDzO3gLIoJ7K7N7Sfnrc4JTuSUbGonbzpft5xwzYU=.webp
.next/cache/img/Ysz1Jptxm7lKM23T7qEzE9iAsD6rjuAXoZyuBmtN+ao=/60.1725142222249.+1XOuQBMa6rGulzES0usfK9m9aleC6h18xMprkxw5e4=.webp
.next/cache/img/ZkaEDDGGHKtBio3TgrAW8fjGKsrRo1jQuFMChK9pptM=/60.1725224059643.+i0CNc3kTmU01FwN7kGUinww-EGUZ66wc6HwzYsCbvI=.webp
.next/cache/img/d0OTlskSEe+UmXKiWW4eJ8y8PlMxUAC52Uwb26NJpS0=/60.1725216689215.tQNcFu7FODfOGEiRuawR89A7HEypdsOKBRL3feB3StA=.webp
.next/cache/img/gr0LY084K3oCw46h3HOU1flUNY9WwvRFprp4xOaRNwI=/60.1725224059295.Fu8osGEnP37qWtM2bGY4nzxnx1ZoR0s7pqB6LXA0CGE=.webp
.next/cache/img/hkgjoPnWD8EfFqUxgxkMQgjaOM2wIR-Z-8+FO6xUTJc=/60.1725142222433.F-88rLJqflexXOGFu+ONBc-Z1amWKYMvCYQ3NzNcntA=.webp
.next/cache/img/hlxY-1NLVD4o2xuAyVi8ryEI8Id0k+NZqp8XQoo7hqg=/60.1725216689275.vCGXD1WLaqfXtnUETN17gomGSmHbWOj9RN2vppc95RE=.webp
.next/cache/img/isQ-gxhPEqH7gWes6qMIgMK+LveHRDbh308zheH8eGM=/60.1725142222234.D7+blkZBI8KCtvRmD0bDWsw-G0oo7PISq9i5D+IY6TA=.webp
.next/cache/img/jplbs2LmEN2mI3VKuYdg8kZQfED2aRM-dOQMcknC4zU=/60.1725141692083.BYDfERlFcNCyQQlu+VJejml7venTVT8XMNCr++QdKhs=.webp
.next/cache/img/kKvY4Jeuk9lsepiVeLxh0rnIouXRrN+PcihxeW9vUWY=/60.1725141270107.5txePCPJN9BzWY-lsG0IRbehq9TPKDCFFkPS51e6mns=.webp
.next/cache/img/ooe34hVLln0Fto5hPzA+UsC+-WjdXiRifKs4KTlQ2Rc=/60.1725142221869.ch7WJVij4b-p1RGR7pK74610RGQd0E0XVqSPHMrWSA8=.webp
.next/cache/img/sw90cKFCZ2E0zRW2PpWb5Uxrlhi2KjF2VvEg420-SGE=/60.1725142222355.nPFcCsgWaC+pF8K-vMpdKxdM9Us9ZuVQY8QbUvMHHrU=.webp
.next/cache/img/tV3HXungVFuDxDGWx3FSfAaIGFvuVhVdcOzuJEB+VGU=/60.1725142222248.kKkpjigKZVcLyIvijxFVXoXxF0SWEPtJNvlOkFzvGg4=.webp
.next/cache/img/tqg1RVepENK6aBzXvXveCoLQh5uxEovFGeHy33-Ui98=/60.1725224059316.HaSMcWb-Wf5zK7QUpmRc3hAhAECvFMzDIOAmEYpDiiM=.webp
.next/cache/img/u9kCPcWbP8wwXCBsohmgxi2EN-P70ANT+EOMkaRZUKM=/60.1725224059295.p4+lo-IsEC6HLNHbVOP6TA-cZ9l4K16RPpuCuReWPwM=.webp
.next/cache/img/vtDz4e9vsH-ptpgyO9Tkjylol0MN8hKozM87eTl5wy4=/60.1725216689331.-qXzZ-CxToZw1qHWnC19j8KN8Dq1AQt+7vu5Z5XF8mM=.webp
.next/cache/img/xqBi9MOSWZR0E8ocAJybr9exCU6YM9864iG6hpX5P3k=/60.1725224059642.Ym0VUSHw2wdgJ3xIe8qq2Vb1Widr0GLwAwfo0tJm59M=.webp
.next/cache/img/z+mvxoDAw1UjCnuE4oJJqzJCXtQ9J04sMb2+SHc82rc=/60.1725142222210.hlc+PXNCY7TcqOhbIA0D7ScEM1krl4YyEmva1-tHT9s=.webp
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/19.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/functions-config-manifest.json
.next/server/middleware-build-manifest.js
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/app/_not-found.html
.next/server/app/_not-found.rsc
.next/server/app/about.html
.next/server/app/about.rsc
.next/server/app/cancellation-policy.html
.next/server/app/cancellation-policy.rsc
.next/server/app/collection-statement.html
.next/server/app/collection-statement.rsc
.next/server/app/contact.html
.next/server/app/contact.rsc
.next/server/app/index.html
.next/server/app/index.rsc
.next/server/app/not-found.html
.next/server/app/not-found.rsc
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/privacy-policy.html
.next/server/app/privacy-policy.rsc
.next/server/app/service.html
.next/server/app/service.rsc
.next/server/app/terms-and-conditions.html
.next/server/app/terms-and-conditions.rsc
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/about/page_client-reference-manifest.js
.next/server/app/about/page.js
.next/server/app/cancellation-policy/page_client-reference-manifest.js
.next/server/app/collection-statement/page_client-reference-manifest.js
.next/server/app/contact/page_client-reference-manifest.js
.next/server/app/contact/page.js
.next/server/app/location/sydney/chatswood.html
.next/server/app/location/sydney/chatswood.meta
.next/server/app/location/sydney/chatswood.rsc
.next/server/app/location/sydney/hornsby.html
.next/server/app/location/sydney/hornsby.meta
.next/server/app/location/sydney/hornsby.rsc
.next/server/app/location/sydney/manly.html
.next/server/app/location/sydney/manly.meta
.next/server/app/location/sydney/manly.rsc
.next/server/app/location/sydney/\[serviceId]/page_client-reference-manifest.js
.next/server/app/location/sydney/\[serviceId]/page.js
.next/server/app/location/sydney/\[serviceId]/page.js.nft.json
.next/server/app/not-found/page_client-reference-manifest.js
.next/server/app/not-found/page.js
.next/server/app/privacy-policy/page_client-reference-manifest.js
.next/server/app/service/page_client-reference-manifest.js
.next/server/app/service/page.js
.next/server/app/terms-and-conditions/page_client-reference-manifest.js
.next/server/app/terms-and-conditions/page.js
.next/server/chunks/939.js
.next/server/pages/404.html
.next/server/pages/500.html
.next/static/chunks/main-a785d5af468a428d.js
.next/static/chunks/webpack-64978f7057f28f5f.js
.next/static/chunks/app/layout-1f61c872c40622e6.js
.next/static/chunks/app/page-10b6c411338f7936.js
.next/static/chunks/app/location/sydney/\[serviceId]/page-9f036edd3553e2f4.js
.next/static/css/1ef2d16dc9298171.css
.next/static/css/5fe4a57cf64fcdf8.css
.next/static/css/8ecca410733e3fd8.css
.next/static/css/14da8ae237a80762.css
.next/static/css/ac84a5d3ebb660f3.css
.next/static/css/d5fef5e7cd244b9b.css
.next/static/kuciEK_jNVsOcwFQbLDCc/_buildManifest.js
.next/static/kuciEK_jNVsOcwFQbLDCc/_ssgManifest.js
.next/types/app/location/sydney/\[serviceId]/page.ts
